.App {
  text-align: center;
}

.App-logo {
  height: 40vmin;
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #09d3ac;
}
.button {
  border: 0;
  outline: none;
  background-color: #09d3ac;
  padding: 1em;
  font-size: 0.5em;
  border-radius: 0.4em;
}
.button:nth-child(2) {
  background-color: red;
}
